$color-green : #00AB4B;
$color-white:#fff;
$transition : all .3s ease;
$background-green :#00AB4B;
$background-blue-dark : #193854;
$font :'Open Sans', sans-serif;
$box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
/* global */
h1,h2,h3,h4,h5,p{
  font-family: $font;
  color: $background-blue-dark;
}
/* body */
body{
  overflow-x: hidden;
  margin: 0;
  padding:0;
  background-image: url('images/bg-page.png');
}
.container-fixed {
  margin: 0 auto;
  max-width: 960px;
}
/*navigation */
.top-nav{
	width:100%;
  background:$color-white;

  .logo{
    margin-top: 20px;
    position: relative;
    left: -12px;
    bottom: -12px;
    width: 185px;
  }
}
  .nav-effect{
    position:relative;
    &:before, &:after{
      content:"";
      position:absolute;
      z-index:-1;
      -webkit-box-shadow:0 0 20px rgba(0,0,0,0.20);
      -moz-box-shadow:0 0 20px rgba(0,0,0,0.20);
      box-shadow:0 0 20px rgba(0,0,0,0.20);
      top:20%;
      bottom:0;
      left:10px;
      right:10px;
  }
  &:after{
    right:10px;
    left:auto;
  }
}
#main-menu{
  text-align:right;
  position:relative;
}
#main-menu{
  ul ul{
    -moz-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06); 
  } 
}
#main-menu{
  .nav-menu{
    list-style:none;
    margin:0;
    padding:0;
    position: relative;
    left: -20px;
  }
  .nav-menu-page{
    list-style:none;
    margin:0;
    padding:0;
   
  }
}
.nav-menu{
  padding: 0;
  >li{
    font-family: $font;
    position: relative;
    bottom: -5px;
    display:inline-block;
    padding-left: 30px;
    padding-top: 5px;
  }
  a{
    color: #666;
    font-weight:300;
    padding:14px 0;
    border-bottom:1px solid transparent;
    text-decoration: none;
    font-size: 0.9em;
    transition: $transition;
    &:hover{
        text-decoration:none;
        color: $color-green;
    }
  }
}
.nav-menu-page{
  >li{
    position: relative;
    bottom: -5px;
    display:inline-block;
    padding-left: 30px;
    padding-top: 5px;
  }
  a{
    color: #666;
    font-weight:300;
    padding:14px 0;
    border-bottom:1px solid transparent;
    text-decoration: none;
    font-size: 0.9em;
    transition: $transition;
    &:hover{
        text-decoration:none;
        color: $color-green;
    }
  }
}
@media (max-width:767px){
  #main-menu{
    overflow: hidden;
    .nav-menu-page{
      ul{
        padding: 0;
        margin: 0;
      }
      li{
        display:block;
        text-align:left;
       
        padding:0;
        border-bottom: 1px solid $background-green;
        font-size:12px;
      }
      a{
        display:block;
        border-bottom:none;
        padding:10px 15px;
      }
      &:last-child{
        border-bottom:none;
        width:100%;
      }
      li li{
        a{
          padding-left:20px;
          &:before{
            content:"-";
            margin-right:5px;
          }
        }
      }
      li li li {
       padding: 0;
        &:before{
          content:"--";
          margin-right:5px;
        }
      }
      > li{
        a
        {
          &:hover{
            border:none;
            background:#f0f0f0;
          }
        }
        &:first-child{
          border-top:1px solid #15A035;
        }
      }
      li{
        .menu-item-has-children{
          > a:after{
            font-family:fontAwesome;
            width:35px;
            text-align:center;
            content:"\f107";
            position:absolute;
            right:0;
            font-size:20px;
          }
        }
      }
    }
    .nav-menu{
      ul{
        padding: 0;
        margin: 0;
      }
      li{
        display:block;
        text-align:left;
       
        padding:0;
        border-bottom: 1px solid $background-green;
        font-size:12px;
      }
      a{
        display:block;
        border-bottom:none;
        padding:10px 15px;
      }
      &:last-child{
        border-bottom:none;
        width:100%;
      }
      li li{
        a{
          padding-left:20px;
          &:before{
            content:"-";
            margin-right:5px;
          }
        }
      }
      li li li {
       padding: 0;
        &:before{
          content:"--";
          margin-right:5px;
        }
      }
      > li{
        a
        {
          &:hover{
            border:none;
            background:#f0f0f0;
          }
        }
        &:first-child{
          border-top:1px solid #15A035;
        }
      }
      li{
        .menu-item-has-children{
          > a:after{
            font-family:fontAwesome;
            width:35px;
            text-align:center;
            content:"\f107";
            position:absolute;
            right:0;
            font-size:20px;
          }
        }
      }
    }
    .sub-menu{
      position:static;
      border-bottom:none;
    }
  }
  .navbar-toggle{
    margin-right:0;
  }
  .searchForm{
    position: relative;
    padding-top: 20px;
  }

}
#menu-wrapper{
  position: relative;
  margin-top: 33px;
  margin-bottom: 15px;
  right: -33px;
  form{
    float: right;
    padding-left: 60px;
    top: -6px;
    position: relative;
  }
  .searchForm {
    position: relative;
    margin: 0;
  }
  .searchForm .assistive-text {
    display: none;
  }
  .searchForm .field {
    margin: 0;
    max-width: 170px;
    height: 33px;
    padding: 10px 40px 9px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .searchForm .submit {
    background: url(images/search.png) no-repeat 3px 1px;
    text-indent: -999px;
    padding: 10px 10px 10px;
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -10px;
    margin-right: -15px;
    z-index: 9999;
    opacity: 0.4;
    filter: alpha(opacity=40);
  }
  .btn {
    color: $background-blue-dark;
    text-shadow: none;
    padding: 0 12px;
    font-family: $font;
    font-size: 11px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .input-append .btn {
    font-size: 11px;
  }
  .btn:hover {
    color: $color-white;
    background: $background-blue-dark;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
  }
  @media (max-width:767px){
    .searchForm .field {
      position: relative;
      float: left;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .searchForm .submit {
      background: url(images/search.png) no-repeat 3px 1px;
      text-indent: -999px;
      padding: 10px 10px 10px;
      width: 20px;
      height: 20px;
      border: none;
      position: absolute;
      right: 30px;
      top: 70%;
      margin-top: -10px;
      margin-right: -15px;
      z-index: 9999;
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
  }
}
.navbar-toggle{
  top:-70px;
  position:absolute;
  right:0;
}
.navbar-toggle{
  .icon-bar{
      background: $color-green;    
  }
}
/* breadcrumbs*/
#wrapper-breadcrumbs{
  position: relative;
  width: 100%;
  padding: 0;
  left: -15px;
  .empty-tag{
    margin-top: 23px;
    margin-bottom: 20px;
    padding: 7px 10px 10px;
  }
  .breadcrumbs {
    margin-top: 23px;
    margin-bottom: 20px;
    background: $color-white;
    border: 1px solid #BCBDC1;
    padding: 7px 10px 10px;
    float: left;
    ul{
      padding: 0
    }
    ul li{
      list-style: none;
      float: left;
      padding-left: 10px;
      font-family: sans-serif;

    }
    ul li a{
      content:  "\f0da";
      font-size: 1em;
      font-weight: 1100;
      font-weight: bold;
      color: $background-blue-dark;
      &:hover{
        text-decoration:none;
        color: $color-green;
        transition : $transition;
      }
    }
  }
}
#wrapper-breadcrumbs-page{
  position: relative;
  width: 100%;
  padding: 0;
  position: relative;

  .breadcrumbs {
    margin-top: 23px;
    margin-bottom: 20px;
    background: $color-white;
    border: 1px solid #BCBDC1;
    padding: 7px 10px 10px;
    float: left;
    ul{
      padding: 0
    }
    ul li{
      list-style: none;
      float: left;
      padding-left: 10px;
      font-family: sans-serif;

    }
    ul li a{
      content:  "\f0da";
      font-size: 1em;
      font-weight: 1100;
      font-weight: bold;
      color: $background-blue-dark;
      &:hover{
        text-decoration:none;
        color: $color-green;
        transition : $transition;
      }
    }
  }
}
/* sidebar */
.sidebar-session{
  width: 100%;
  position: relative;
  padding-bottom: 70px;
  left: -15px;
  background: $color-white;
  margin-bottom: 30px;
  margin-top: 5px;
  border: 1px solid #BCBDC1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;

  h2{
      padding-left: 15px;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 50px;
      line-height: 20px;
  }
  p{
      padding-left: 15px;
      font-size: 1em;
      padding-bottom: 5px;
  }
  .button-sidebar{
      text-transform: uppercase;
      color: $color-white;
      background: url('images/btn.png');
      float: left;
      padding: 10px 10px 10px;
      font-size: 1em;
      margin-left: 15px;
      margin-top: 20px;
      box-shadow: $box-shadow;
      &:hover{
        text-decoration: none;
      }
  }
  .header-sidebar{
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 10px solid #303F53;
    h2{
      padding-left: 10px;
      font-size: 1em;
      font-weight: bolder;
      text-transform: uppercase;
      
    }
  }
}
.sidebar{
  font-family: $font;
  width: 100%;
  position: relative;
  left: -15px;
  background: $color-white;
  margin-bottom: 30px;
  margin-top: 5px;
  border: 1px solid #BCBDC1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  .form-login{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    .forgot{
      position: relative;
      left: 120px;
      color: #000;
      text-decoration: underline;
      font-family: $font;
    }
    @media (max-width:767px){
      .forgot{
        float: left;
        position: relative;
        left: 50px;
        color: #000;
        text-decoration: underline;
        font-family: $font;
      }
     }
    .login{
      position: relative;
      left: -40px;
      font-size: 12px;
      font-family: $font;
    }
    .masuk{
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      padding: 10px 40px 10px;
      right: -10px;
      border: none;
      display: block;
      background: url('images/btn.png');
      float: right;
      box-shadow: $box-shadow;
      -webkit-transform: skew(-13deg);
        -moz-transform: skew(-13deg);
        -o-transform: skew(-13deg);
        &:hover{
         text-decoration:none;
        }
      }
    }

  h2{
      padding-left: 15px;
      font-size: 1em;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-weight: bold;
      margin-right: 20px;
      line-height: 20px;
  }
  p{
      padding-left: 15px;
      font-size: 1em;
      padding-bottom: 5px;
      font-weight: 600;
  }
  .button-sidebar{
      text-transform: uppercase;
      color: $color-white;
      background: url('images/btn.png');
      float: left;
      padding: 10px 10px 10px;
      font-size: 1em;
      margin-left: 15px;
      margin-top: 20px;
      box-shadow: $box-shadow;
      &:hover{
        text-decoration: none;
      }
  }
  .left-menus{
    margin: 0;
    .dropdown{
      padding-bottom: 20px;
      ul{
        padding: 0;
        li{
          list-style: none;
          a{
           text-align: left;
           padding-right: 60px;
           padding-bottom: 0;
           padding-top: 0;
           margin: 0;
           font-family: $font;
           &:hover{
            background:none;
           }
          }
        }
      }
    }
  }
  ul{
    padding: 0;
    li{
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      list-style: none;
      border-bottom: 1px solid #F0F0F1;
       a{
        margin: 0;
        padding-right: 70px;
        padding-top: 10px;
        padding-bottom: 21px;
        text-decoration: none;
        text-align: left;
        text-transform: none;
        font-size: 1em;
        background: $color-white;
        color: $background-blue-dark;
      }
    }
  }
  .account{
      padding-top: 5px;
      img{
        max-width: 160px;
      }
    }
  .bottom-side-middle{
    background: #DFEBF6;
    border-bottom: 1px solid #5D6E7D;
    .arrow-top{
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $color-white;
      float: right;
      position: relative;
      left: -15px;
    }
    h3{
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family: $font;
      font-size: 0.9em;
      font-weight: bolder;
      margin: 0;
    }
    h4{
      padding-top: 10px;
      padding-left: 10px;
      font-family: $font;
      font-size: 0.9em;
      font-weight: bolder;
      margin: 0;
    }
  }
  .bottom-side{
    background: #DFEBF6;
    h3{
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family: $font;
      font-size: 0.9em;
      font-weight: 600;
      margin: 0;
    }
    h4{
        padding-top: 10px;
        padding-left: 10px;
        font-family: $font;
        font-size: 0.9em;
        font-weight: bolder;
        margin: 0;
      }
  }
  .header-sidebar{
    width: 100%;
    border-bottom: 10px solid #303F53;
    h2{
      padding-left: 10px;
      font-size: 1em;
      font-weight: bolder;
      text-transform: uppercase;
     a span{
        padding-right: 5px;
        float: right;
        color: $background-blue-dark;
      } 
    }
  }
  .top-point{
    background: #F0F0F1;
    padding-top: 10px;
    padding-bottom: 10px;
    h3{
      padding-left: 10px;
      font-weight: 600;
      font-size: 14px;
      & small{
        margin-left: 65px;
        font-size: 1em;
        color: $background-blue-dark;
        font-weight: bold;

      }
    }
  }
  .child-point{
    background: $color-white;
    border-bottom: 1px solid #F0F0F1;
    h3{
      padding-left: 10px;
      font-weight: bold;
      font-size: 1em;
      & small{
        font-size: 1em;
        padding-left: 110px;
        color: $background-green;
      }
    }
  }
  .child-point-test{
    background: $color-white;
    border-bottom: 1px solid #F0F0F1;
    h3{
      padding-left: 10px;
      font-weight: bold;
      font-size: 1em;
      & small{
        font-size: 1em;
        padding-left: 20px;
        color: $background-green;
      }
    }
  }
   .child-point-false{
    background: $color-white;
    border-bottom: 1px solid #F0F0F1;
    h3{
      padding-left: 10px;
      font-size:1em;
      font-weight: bold;
      & small{
        padding-left: 20px;
        font-size: 1em;
        color: red;
      }
    }
  }
}
/* content-full*/
.content-full{
  position: relative;
  border: 1px solid #BCBDC1;
  width: 100%;
  margin-top: 5px;
  background:$color-white;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  .header-content-full{
    width: 100%;
    border-bottom: 10px solid #303F53;
    h2{
      padding-left: 10px;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bolder;
      padding-bottom: 10px;
    }
  }
  .content-small{
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
    padding-left: 25px;
    img{
      max-width: 100%;
      margin-top: 10px;
    }
    .modul-img{
      max-width: 90%;
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .table{
      width: 100%;
      margin-left: 20px;
      font-size: 1em;
    }
    td{
      padding-left: 25px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 1em;
    }
    .left{
      background: $background-blue-dark;
      color: $color-white;
      font-weight: bold;
      padding-right: 30px;
      font-size: 14px;
    }
     .right{
      color: $background-blue-dark;
      font-weight: bold;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      font-size: 14px;
    }
    .desc{
      margin-top: 40px;
      padding: 0;
      margin-right: 100px;
      position: relative;
      right: 10%;
        .button-take{
           text-transform: uppercase;
            color: $color-white;
            background: url('images/btn.png');
            float: left;
            padding: 10px 10px 10px;
            font-size: 1em;
            margin-top: 20px;
            margin-bottom: 50px;
            box-shadow: $box-shadow;
            &:hover{
              text-decoration: none;
            }
        }
        h1{
          font-size: 1.2em;
          font-weight: 600;
        }
        .detail-post{
          margin: 0;
          font-family: $font;
          float: left;
          font-size: 0.9em;
          color: $background-blue-dark;
          span{
            font-size: 1em;
            color: $background-blue-dark;
          }
        }
        .detail-text{
          float: left;
          font-family: $font;
          color: $background-blue-dark;
          p{
            font-size: 0.8em;
            font-weight: 600;
            text-align: left;
            margin-left: 0;
            margin-top: 10px;
            margin-right: 40px;
            line-height: 20px;
          }
        }
        .status-detail{
          text-transform: uppercase;
          font-size: 1em;
          color: $color-green;
          font-weight: 700;
          padding-top: 155px;
          padding-bottom: 40px;
          span{
            font-size: 1em;
            color: $color-green;
            font-weight: 700;
          }
        }

    }
    @media (max-width:990px){
      .desc{
        padding: 0;
        position: none;
        margin: 0;
        right: 0;
          p{
            font-size: 0.8em;
            text-align: left;
            margin-right: 60px;
            line-height: 20px;
          }
          h1{
          font-size: 1.5em;
           }
      }
    }
    h3{
      padding-top: 12px;
      padding-left: 30px;
      font-size: 1.3em;
      font-weight: bold;
      padding-bottom: 10px;
    }
    h2{
      margin-left: 50px;
      margin-right: 70px;
      margin-top: 40px;
      font-weight: bold;
      font-size: 1.5em;
    }
    p{
      font-size: 1em;
      font-weight: 600;
      margin-left: 50px;
      margin-right: 70px;
    }
    .default{
      margin-top: 30px;
      font-size: 1em;
      font-weight: 600;
      margin-left: 50px;
      margin-right: 70px;
    }
    .danger{
      color: red;
      font-weight: bold;
    }
    .success{
      font-weight: bold;
      color: $background-green;
    }
  }
  .content-about{
      width: 100%;
      border-bottom: 1px solid #F0F0F1;
      padding-left: 25px;
      padding-bottom: 100px;
      p{
        font-size: 1em;
        font-weight: 400;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 70px;
        font-family: $font;
        small{
          color: $color-green;
          font-size: 1em;
          font-weight: 400;
          font-family: $font;
        }
      }
      img{
        max-width: 90%;
        margin-top: 50px;
        padding-left: 50px;
      }
      .button-about{
        text-transform: uppercase;
        color: $color-white;
        background: url('images/btn.png');
        float: left;
        padding: 10px 10px 10px;
        font-size: 1em;
        margin-left: 50px;
        margin-top: 20px;
        box-shadow: $box-shadow;
        &:hover{
          text-decoration: none;
        }
      }
    }
  .content-account{
    width: 100%;
    padding-left: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #F7F6F2;
    height: auto;
    .change-account{
      margin-top: 40px;
      max-width: 100%;
      margin-right: 20px;
      padding-bottom: 30px;
    .left-text{
      text-align: left;
      font-weight: 400;
      font-size: 14px;
      font-family: $font;
    }
    @media (max-width:1024px){
      .left-text{
        margin-right: 50px;
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        font-family: $font;
      }
    }
    .check{
      position: relative;
      left: -170px;
      bottom: -60px;
    }
    .label-check{
      position: relative;
      left: -150px;
      bottom: -40px;
      margin-right: 10px;
      font-weight: 100;
      font-family: $font;
    }
    @media (max-width:990px){
      .label-check{
        position: relative;
        bottom: -40px;
        margin-right: 20px;
        font-weight: 100;
        font-family: $font;
      }
      .check{
        bottom: -10px;
        left: 0;
      }
      .label-check{
        bottom: 8px;
        left: 0;
        margin-top: 20px;
        margin-right: 60px;
        font-weight: 100;
        font-family: $font;
      } 
    }
    td{
        padding-bottom: 20px;
        font-size: 14px;
        padding-right: 20px;
        font-size: 14px;
      }
    .text-form{
        width: 300px;
      } 
    .combo{
      width: 90px;
      float: left;
      margin-right: 10px;
    }
  }
      .submit{
          text-decoration: none;
          text-transform: uppercase;
          color: $color-white;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 57px;
          padding-right: 57px;
          position: relative;
          border: none;
          background: url('images/btn.png');
          box-shadow: $box-shadow;
          -webkit-transform: skew(-13deg);
            -moz-transform: skew(-13deg);
            -o-transform: skew(-13deg);
            &:hover{
             text-decoration:none;
          }
        }
        .daftar{
          text-decoration: none;
          text-transform: uppercase;
          color: $color-white;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 57px;
          padding-right: 57px;
          border: none;
          float: right;
          position: relative;
          background: url('images/btn.png');
          box-shadow: $box-shadow;
          -webkit-transform: skew(-13deg);
            -moz-transform: skew(-13deg);
            -o-transform: skew(-13deg);
            &:hover{
             text-decoration:none;
          }
        }
        .reset{
          text-decoration: none;
          text-transform: uppercase;
          color: #000;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 37px;
          padding-right: 37px;
          position: relative;
          margin-right: 30px;
          border-radius: 0;
          float: left;
          background: #ffffff;
          background-image: -webkit-linear-gradient(top, #ffffff, #e1e2e6);
          background-image: -moz-linear-gradient(top, #ffffff, #e1e2e6);
          background-image: -ms-linear-gradient(top, #ffffff, #e1e2e6);
          background-image: -o-linear-gradient(top, #ffffff, #e1e2e6);
          background-image: linear-gradient(to bottom, #ffffff, #e1e2e6);
          -webkit-box-shadow: 1px 1px 3px #666666;
          -moz-box-shadow: 1px 1px 3px #666666;
          box-shadow: 1px 1px 3px #666666;
            &:hover{
             text-decoration:none;
          }
        }
        .container-button{
          max-width: 500px;
          margin-left: 30px;
          padding-top: 30px;
        }
        @media (max-width:1024px){
          .container-button{
            max-width: 500px;
            margin-left: 0;
            padding-top: 30px;
          }
          .submit{
            text-decoration: none;
            text-transform: uppercase;
            color: $color-white;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 57px;
            padding-right: 57px;
            margin-top: 10px;
            position: relative;
            border: none;
            background: url('images/btn.png');
            box-shadow: $box-shadow;
            -webkit-transform: skew(-13deg);
              -moz-transform: skew(-13deg);
              -o-transform: skew(-13deg);
              &:hover{
               text-decoration:none;
          }
        }
        }
        .container-button-reg{
          padding: 0;
          float: left;

          .tag-check{
            float: left;
            position: relative;
          }
          .tag-button{
            float: right;
          }
        }
    }
  .content-square{
    position: relative;
    min-height: 230px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 30px;
    img{
      max-width: 100%;
    }
    table{
      border: 1px solid #F0F0F1;
      font-size: 1em;
    }
    td{
      padding-right: 30px;
    }
  }
  .content-end{
    width: 100%;
    padding-top: 5px;
    background: #F0F0F1;
    padding-bottom: 35px;
    h1{
      padding-top: 30px;
      font-size: 1.5em;
      font-weight: bold;
      padding-left: 30px;
    }
    p{
      padding-bottom: 30px;
      padding-left: 30px;
      margin-right: 200px;
      line-height: 20px;
    }
    .button-failed{
      padding: 8px 40px 8px;
      text-transform: uppercase;
      color: $color-white;
      background: url('images/btn.png');
      float:left;
      margin-left: 30px;
      font-weight: bold;
      position: relative;
      top: -30px;
      box-shadow: $box-shadow;
      &:hover{
        text-decoration: none;
      }
      i{
        margin-right: 10px;
      }
    }
  }
    .content-end-blue{
      width: 100%;
      padding-top: 20px;
      background: #DFEBF6;
      padding-bottom: 100px;
      h1{
        padding-top: 30px;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 30px;
      }
      p{
        margin-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        font-weight: 600;
      }
    .button-footer{
      padding: 15px 80px 15px;
      text-transform: uppercase;
      color: $color-white;
      background: url('images/btn.png');
      float:left;
      margin-left: 30px;
      font-weight: bold;
      box-shadow: $box-shadow;
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg);
      &:hover{
        text-decoration: none;
      }
    }
  }
  .instruction-top{
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
    font-family: $font;
    table{
      width: 80%;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 50px;
      line-height: 25px;
      font-size: 1em;
    }
    .option{
      padding-top: 10px;
      padding-bottom: 10px;

    }
  }
  .content-option{
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
     table{
      font-family: $font;
      max-width: 80%;
      position: relative;
      margin-left: 70px;
      margin-top: 30px;
      margin-bottom: 50px;
      line-height: 25px;
      font-size: 1em;
      td{
        padding-left: 30px;
      }
    }
    @media (max-width:767px){
      table{
        font-family: $font;
        max-width: 80%;
        position: relative;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 50px;
        line-height: 25px;
        font-size: 1em;
        td{
          padding-left: 30px;
        }
      }
    }
  }
  .footer-content{
    width: 100%;
    background: #F0F0F1;
    padding-bottom: 150px;
    .button-end{
      padding: 8px 50px 8px;
      float: right;
      position: relative;
      right: 2%;
      bottom: -48px;
      text-transform: uppercase;
      color: $color-white;
      background: url('images/btn.png');
      box-shadow: $box-shadow;
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg);
      &:hover{
        text-decoration: none;
      }
    }
        .pagination-content{
          max-width: 100%;
          position: relative;
          .page {
            display: inline-block;
            padding: 5px 10px;
            margin-right: 4px;
            margin-top: 50px;
            border-radius: 3px;
            border: solid 1px #c0c0c0;
            background: #e9e9e9;
            box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
            font-size: .875em;
            font-weight: bold;
            text-decoration: none;
            color: #717171;
            text-shadow: 0px 1px 0px rgba(255,255,255, 1);
          &:hover{
            background: #fefefe;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
            background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);  
          }
          .gradient:hover{
            background: #fefefe;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
            background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0); 
          }
          span:active{
            border: none;
            background: $background-green;
            box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
            color: #f0f0f0;
            text-shadow: 0px 0px 3px rgba(0,0,0, .5);
          }
          .gradient {
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
            background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
            }
          }
        }
        .btn {
        display: inline-block;
        padding: 10px;
        border-radius: 5px; /*optional*/
        color: #aaa;
        font-size: .875em;
    }
  }
}
/* wrapper */
#wrapper{
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px;
  .bx-viewport {
    height: auto !important;
  }
  .description{
    background: $color-white;
    margin-top: 30px;
    border: 8px solid rgba(0,0,0,0.2);
    margin-bottom: 30px;
   .left-wrapper{
      float: left;
      margin-left: 70px;
      margin-top: 30px;
      max-width: 400px;
      img{
        width: 370px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      p{
      padding-top: 24px;
      line-height: 15px;
      font-size: 0.9em;
      }
      a{
        font-size: 1.5em;
        text-decoration: underline;
        font-weight: bold;
        color: #3D3D3D;
        margin-bottom: 30px;
      }
    }
  }
   .right-wrapper{
      float: right;
      img{
        max-width: 450px;
        height: 330px;
      }
    }
    @media (max-width:990px){
      .right-wrapper{
        float: none;
        img{
          max-width: 100%;
          padding: 0;
        }
      }
    }
  .effect-wrapper{
    position: relative;
    &:before, &:after{
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width:300px;
      background: #777;
      -webkit-box-shadow: 0 30px 30px #777;
      -moz-box-shadow: 0 30px 30px #777;
      box-shadow: 0 30px 30px #777;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg);
  }
  &:after{
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      transform: rotate(5deg);
      right: 40px;
      left: auto;
    }
  }
}
/*content*/
#content{
  z-index: 5;
  background:#E9EEF2;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 48px;
  h1{
    position: relative;
    left: -13px;
    padding-top: 30px;
    font-size: 2.1em;
    color: $background-blue-dark;
  }
  a{
    margin-top: 30px;
    display: inline-block;
    &:hover{
      text-decoration:underline;
    }
  }
  .button{
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    right: -18px;
    position: relative;
    display: block;
    bottom: -35px;
    background: url('images/btn.png');
    float: right;
    margin-top: 10px;
    box-shadow: $box-shadow;
    -webkit-transform: skew(-14deg);
      -moz-transform: skew(-14deg);
      -o-transform: skew(-14deg);
      &:hover{
        text-decoration: none;
      }
    }
  @media (max-width:1024px){
    .button{
      margin-right: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 70px;
      padding-right: 70px;
      right: -18px;
      position: relative;
      display: block;
      background: url('images/btn.png');
      float: right;
      top: -10px;
      box-shadow: $box-shadow;
      -webkit-transform: skew(-14deg);
        -moz-transform: skew(-14deg);
        -o-transform: skew(-14deg);
        &:hover{
          text-decoration: none;
        }
      }
    }
  .post{
    min-height: 370px;
    margin-top: 45px;
    background: $background-green;
    margin-right: 25px;
    max-width: 305px;
    right: -10px;
    float: left;
    .title{
      max-width: 200px;
      height: auto;
      border-bottom: 1px solid #fff;
      margin-left: 25px;
      margin-right: 175px;
      position: relative;
      top: -2px;
       h3{
        display: block;
        color: $color-white;
        font-size: 20px;
        text-transform: none;
        font-size: 1em;
      }
    }
    img{
      width: 100%;
      height: 210px;
    }
    h1{
      color: $color-white;
      text-transform: none;
      padding-left: 20px;
      font-size: 1.7em;
      font-weight: bold;
      margin-right: 50px;
      margin-left: 20px;
      position: relative;
      top: -45px;
    }
    .button-more{
      background: $color-white;
      color: $background-green;
      float: left;
      margin-left: 15px;
      position: relative;
      top: -70px;
      right: -10px;
      padding-left: 15px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1em;
      letter-spacing: -1px;
      &:hover{
        text-decoration:none;
        color: #FFD900;
        transition:$transition;
      }
    }
    i{
      font-size: 24px;
      margin-left: 20px;
      padding-right: 10px;
    }
  }
  @media (max-width:1024px){
      .post{
        min-height: 370px;
        margin-top: 45px;
        background: $background-green;
        max-width: 360px;
        float: none;
      }
      img{
        max-width: 100%;
      }
    }
  @media (max-width:767px){
      .post{
        min-height: 370px;
        margin-top: 45px;
        background: $background-green;
        max-width: 100%;
        float: none;
      }
      img{
        max-width: 100%;
      }
    }
}

/*registration*/
#registration{
  width: 100%;
  background: url('images/bg-blue.png');
  padding: 24px 30px 8px;
  overflow: none;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  h1{
    color: $color-white;
    font-size: 2em;
    font-weight: 400;
    position: relative;
    top: -10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    right: -45px;
    letter-spacing: 1px;
  }
  .button{
    text-decoration: none;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 87px;
    padding-right: 87px;
    position: relative;
    display: block;
    top: -5px;
    left: -40px;
    background: url('images/btn.png');
    display: block;
    float: right;
    margin-top: 10px;
    box-shadow: $box-shadow;
    -webkit-transform: skew(-13deg);
      -moz-transform: skew(-13deg);
      -o-transform: skew(-13deg);
      &:hover{
       text-decoration:none;
      }
  }
}
/* information */
#informations{
  margin: 0 auto;
  width: 100%;
  background:#F0F0F1;
  padding-bottom: 20px;
  a{
    padding: 0;
    margin: 0;
    &:hover{
      text-decoration:none;
    }
    .square{
      max-height: 85px;
      position: relative;
      bottom: -10px;
      left: -10px;
      margin-bottom: 44px;
      margin-top: 50px;
      background: $color-white;
      width: 100%;
      border-bottom: 5px solid $background-blue-dark;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-box-shadow: 0 10px 6px -8px #777;
       -moz-box-shadow: 0 10px 6px -8px #777;
            box-shadow: 0 10px 6px -8px #777;
      &:before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
      &:hover:before{
        top: -2px;
        right: -2px;
        bottom: -5px;
        left: -2px;
        border-bottom: none;
        border: $background-blue-dark solid 2px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: top, right, bottom, left;
        transition-property: top, right, bottom, left;
      }
    .circle{
      background: $color-white;
      left: 43%;
      top: -25px;
      position: relative;
      border: 4px solid $background-blue-dark;
      border-radius: 100%;
      height: 45px;
      width: 45px;
      text-align: center;
      visibility: visible;
      & i{
        font-size: 24px;
        padding-top: 7px;
        color: $background-blue-dark;
      }
    }
    @media (max-width:1024px){
      .circle{
        background: $color-white;
        left:48%;
        top: -25px;
        position: relative;
        border: 4px solid $background-blue-dark;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        text-align: center;
      & i{
        font-size: 24px;
        padding-top: 7px;
        color: $background-blue-dark;
        }
      }
    }
     @media (max-width:767px){
      .circle{
        background: $color-white;
        top: -25px;
        display: table;
        border: 4px solid $background-blue-dark;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        left: 46%;
        text-align: center;
        visibility: visible;
      & i{
        font-size: 24px;
        padding-top: 7px;
        color: $background-blue-dark;
        }
      }
    }
    
    h1{
      text-transform: uppercase;
      color: $background-blue-dark;
      font-size: 22px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: -30px;
      right: -2px;
      }
    }
  }
}
/* support */
#support{
  background: $color-white;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 27px;
  img{
    float: left;
  }
   .logo-left{
      max-width: 130px;
      position: relative;
      margin-top: -5px;
      position: relative;
      left: -1%;
   }
   .logo-right{
      position: relative;
      top: -9px;
      max-width: 80px;
      margin-left: 5px;
    }
  h1{
    font-size: 18px;
    color: $background-blue-dark;
    text-transform: uppercase;
    font-weight: 550;
    position: relative;
    top: -7px;
    right: -65px;
  }
}
/*footer*/
#footer{
  background: $background-blue-dark;
  width: 100%;
  .footer-left{
    color: $color-white;
    float: left;
    width: 50%;
    padding-top: 22px;
    p{
      color: $color-white;
      position: relative;
      left: -10px;
      bottom: -10px;
    }
  }
  .footer-right{
    float: right;
    p{
      color: $color-white;
      padding-top: 30px;
    }
    h4{
      position: relative;
      top: -10px;
      font-family: $font;
      font-weight: 600;
      padding-top: 30px;
      color: $color-white;
      font-size: 1em;
    }
    .icon-social-media{
      border-radius: 100%;
      background: $color-white;
      width: 35px;
      height: 35px;
      float: right;
      margin-top: 20px;
      margin-left: 17px;
      position: relative;
      top: -25px;
      &:hover{
        background:#D1D1D1;
        transition:$transition;
      }
      & i{
        color: $background-blue-dark;
        padding-left: 11px;
        padding-top: 9px;
        font-size: 18px;
      }
    }
  }
}




