/* global */
h1, h2, h3, h4, h5, p {
  font-family: "Open Sans", sans-serif;
  color: #193854; }

/* body */
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-image: url("images/bg-page.png"); }

.container-fixed {
  margin: 0 auto;
  max-width: 960px; }

/*navigation */
.top-nav {
  width: 100%;
  background: #fff; }
  .top-nav .logo {
    margin-top: 20px;
    position: relative;
    left: -12px;
    bottom: -12px;
    width: 185px; }

.nav-effect {
  position: relative; }
  .nav-effect:before, .nav-effect:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    top: 20%;
    bottom: 0;
    left: 10px;
    right: 10px; }
  .nav-effect:after {
    right: 10px;
    left: auto; }

#main-menu {
  text-align: right;
  position: relative; }

#main-menu ul ul {
  -moz-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06);
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.06); }

#main-menu .nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: -20px; }
#main-menu .nav-menu-page {
  list-style: none;
  margin: 0;
  padding: 0; }

.nav-menu {
  padding: 0; }
  .nav-menu > li {
    font-family: "Open Sans", sans-serif;
    position: relative;
    bottom: -5px;
    display: inline-block;
    padding-left: 30px;
    padding-top: 5px; }
  .nav-menu a {
    color: #666;
    font-weight: 300;
    padding: 14px 0;
    border-bottom: 1px solid transparent;
    text-decoration: none;
    font-size: 0.9em;
    transition: all 0.3s ease; }
    .nav-menu a:hover {
      text-decoration: none;
      color: #00AB4B; }

.nav-menu-page > li {
  position: relative;
  bottom: -5px;
  display: inline-block;
  padding-left: 30px;
  padding-top: 5px; }
.nav-menu-page a {
  color: #666;
  font-weight: 300;
  padding: 14px 0;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  font-size: 0.9em;
  transition: all 0.3s ease; }
  .nav-menu-page a:hover {
    text-decoration: none;
    color: #00AB4B; }

@media (max-width: 767px) {
  #main-menu {
    overflow: hidden; }
    #main-menu .nav-menu-page ul {
      padding: 0;
      margin: 0; }
    #main-menu .nav-menu-page li {
      display: block;
      text-align: left;
      padding: 0;
      border-bottom: 1px solid #00AB4B;
      font-size: 12px; }
    #main-menu .nav-menu-page a {
      display: block;
      border-bottom: none;
      padding: 10px 15px; }
    #main-menu .nav-menu-page:last-child {
      border-bottom: none;
      width: 100%; }
    #main-menu .nav-menu-page li li a {
      padding-left: 20px; }
      #main-menu .nav-menu-page li li a:before {
        content: "-";
        margin-right: 5px; }
    #main-menu .nav-menu-page li li li {
      padding: 0; }
      #main-menu .nav-menu-page li li li:before {
        content: "--";
        margin-right: 5px; }
    #main-menu .nav-menu-page > li a:hover {
      border: none;
      background: #f0f0f0; }
    #main-menu .nav-menu-page > li:first-child {
      border-top: 1px solid #15A035; }
    #main-menu .nav-menu-page li .menu-item-has-children > a:after {
      font-family: fontAwesome;
      width: 35px;
      text-align: center;
      content: "\f107";
      position: absolute;
      right: 0;
      font-size: 20px; }
    #main-menu .nav-menu ul {
      padding: 0;
      margin: 0; }
    #main-menu .nav-menu li {
      display: block;
      text-align: left;
      padding: 0;
      border-bottom: 1px solid #00AB4B;
      font-size: 12px; }
    #main-menu .nav-menu a {
      display: block;
      border-bottom: none;
      padding: 10px 15px; }
    #main-menu .nav-menu:last-child {
      border-bottom: none;
      width: 100%; }
    #main-menu .nav-menu li li a {
      padding-left: 20px; }
      #main-menu .nav-menu li li a:before {
        content: "-";
        margin-right: 5px; }
    #main-menu .nav-menu li li li {
      padding: 0; }
      #main-menu .nav-menu li li li:before {
        content: "--";
        margin-right: 5px; }
    #main-menu .nav-menu > li a:hover {
      border: none;
      background: #f0f0f0; }
    #main-menu .nav-menu > li:first-child {
      border-top: 1px solid #15A035; }
    #main-menu .nav-menu li .menu-item-has-children > a:after {
      font-family: fontAwesome;
      width: 35px;
      text-align: center;
      content: "\f107";
      position: absolute;
      right: 0;
      font-size: 20px; }
    #main-menu .sub-menu {
      position: static;
      border-bottom: none; }

  .navbar-toggle {
    margin-right: 0; }

  .searchForm {
    position: relative;
    padding-top: 20px; } }
#menu-wrapper {
  position: relative;
  margin-top: 33px;
  margin-bottom: 15px;
  right: -33px; }
  #menu-wrapper form {
    float: right;
    padding-left: 60px;
    top: -6px;
    position: relative; }
  #menu-wrapper .searchForm {
    position: relative;
    margin: 0; }
  #menu-wrapper .searchForm .assistive-text {
    display: none; }
  #menu-wrapper .searchForm .field {
    margin: 0;
    max-width: 170px;
    height: 33px;
    padding: 10px 40px 9px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #menu-wrapper .searchForm .submit {
    background: url(images/search.png) no-repeat 3px 1px;
    text-indent: -999px;
    padding: 10px 10px 10px;
    width: 20px;
    height: 20px;
    border: none;
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -10px;
    margin-right: -15px;
    z-index: 9999;
    opacity: 0.4;
    filter: alpha(opacity=40); }
  #menu-wrapper .btn {
    color: #193854;
    text-shadow: none;
    padding: 0 12px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  #menu-wrapper .input-append .btn {
    font-size: 11px; }
  #menu-wrapper .btn:hover {
    color: #fff;
    background: #193854;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear; }
  @media (max-width: 767px) {
    #menu-wrapper .searchForm .field {
      position: relative;
      float: left;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    #menu-wrapper .searchForm .submit {
      background: url(images/search.png) no-repeat 3px 1px;
      text-indent: -999px;
      padding: 10px 10px 10px;
      width: 20px;
      height: 20px;
      border: none;
      position: absolute;
      right: 30px;
      top: 70%;
      margin-top: -10px;
      margin-right: -15px;
      z-index: 9999;
      opacity: 0.4;
      filter: alpha(opacity=40); } }

.navbar-toggle {
  top: -70px;
  position: absolute;
  right: 0; }

.navbar-toggle .icon-bar {
  background: #00AB4B; }

/* breadcrumbs*/
#wrapper-breadcrumbs {
  position: relative;
  width: 100%;
  padding: 0;
  left: -15px; }
  #wrapper-breadcrumbs .empty-tag {
    margin-top: 23px;
    margin-bottom: 20px;
    padding: 7px 10px 10px; }
  #wrapper-breadcrumbs .breadcrumbs {
    margin-top: 23px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #BCBDC1;
    padding: 7px 10px 10px;
    float: left; }
    #wrapper-breadcrumbs .breadcrumbs ul {
      padding: 0; }
    #wrapper-breadcrumbs .breadcrumbs ul li {
      list-style: none;
      float: left;
      padding-left: 10px;
      font-family: sans-serif; }
    #wrapper-breadcrumbs .breadcrumbs ul li a {
      content: "\f0da";
      font-size: 1em;
      font-weight: 1100;
      font-weight: bold;
      color: #193854; }
      #wrapper-breadcrumbs .breadcrumbs ul li a:hover {
        text-decoration: none;
        color: #00AB4B;
        transition: all 0.3s ease; }

#wrapper-breadcrumbs-page {
  position: relative;
  width: 100%;
  padding: 0;
  position: relative; }
  #wrapper-breadcrumbs-page .breadcrumbs {
    margin-top: 23px;
    margin-bottom: 20px;
    background: #fff;
    border: 1px solid #BCBDC1;
    padding: 7px 10px 10px;
    float: left; }
    #wrapper-breadcrumbs-page .breadcrumbs ul {
      padding: 0; }
    #wrapper-breadcrumbs-page .breadcrumbs ul li {
      list-style: none;
      float: left;
      padding-left: 10px;
      font-family: sans-serif; }
    #wrapper-breadcrumbs-page .breadcrumbs ul li a {
      content: "\f0da";
      font-size: 1em;
      font-weight: 1100;
      font-weight: bold;
      color: #193854; }
      #wrapper-breadcrumbs-page .breadcrumbs ul li a:hover {
        text-decoration: none;
        color: #00AB4B;
        transition: all 0.3s ease; }

/* sidebar */
.sidebar-session {
  width: 100%;
  position: relative;
  padding-bottom: 70px;
  left: -15px;
  background: #fff;
  margin-bottom: 30px;
  margin-top: 5px;
  border: 1px solid #BCBDC1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  .sidebar-session h2 {
    padding-left: 15px;
    font-size: 1em;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 50px;
    line-height: 20px; }
  .sidebar-session p {
    padding-left: 15px;
    font-size: 1em;
    padding-bottom: 5px; }
  .sidebar-session .button-sidebar {
    text-transform: uppercase;
    color: #fff;
    background: url("images/btn.png");
    float: left;
    padding: 10px 10px 10px;
    font-size: 1em;
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18); }
    .sidebar-session .button-sidebar:hover {
      text-decoration: none; }
  .sidebar-session .header-sidebar {
    width: 100%;
    padding-bottom: 7px;
    border-bottom: 10px solid #303F53; }
    .sidebar-session .header-sidebar h2 {
      padding-left: 10px;
      font-size: 1em;
      font-weight: bolder;
      text-transform: uppercase; }

.sidebar {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  position: relative;
  left: -15px;
  background: #fff;
  margin-bottom: 30px;
  margin-top: 5px;
  border: 1px solid #BCBDC1;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  .sidebar .form-login {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px; }
    .sidebar .form-login .forgot {
      position: relative;
      left: 120px;
      color: #000;
      text-decoration: underline;
      font-family: "Open Sans", sans-serif; }
    @media (max-width: 767px) {
      .sidebar .form-login .forgot {
        float: left;
        position: relative;
        left: 50px;
        color: #000;
        text-decoration: underline;
        font-family: "Open Sans", sans-serif; } }
    .sidebar .form-login .login {
      position: relative;
      left: -40px;
      font-size: 12px;
      font-family: "Open Sans", sans-serif; }
    .sidebar .form-login .masuk {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding: 10px 40px 10px;
      right: -10px;
      border: none;
      display: block;
      background: url("images/btn.png");
      float: right;
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-13deg);
      -moz-transform: skew(-13deg);
      -o-transform: skew(-13deg); }
      .sidebar .form-login .masuk:hover {
        text-decoration: none; }
  .sidebar h2 {
    padding-left: 15px;
    font-size: 1em;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
    line-height: 20px; }
  .sidebar p {
    padding-left: 15px;
    font-size: 1em;
    padding-bottom: 5px;
    font-weight: 600; }
  .sidebar .button-sidebar {
    text-transform: uppercase;
    color: #fff;
    background: url("images/btn.png");
    float: left;
    padding: 10px 10px 10px;
    font-size: 1em;
    margin-left: 15px;
    margin-top: 20px;
    box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18); }
    .sidebar .button-sidebar:hover {
      text-decoration: none; }
  .sidebar .left-menus {
    margin: 0; }
    .sidebar .left-menus .dropdown {
      padding-bottom: 20px; }
      .sidebar .left-menus .dropdown ul {
        padding: 0; }
        .sidebar .left-menus .dropdown ul li {
          list-style: none; }
          .sidebar .left-menus .dropdown ul li a {
            text-align: left;
            padding-right: 60px;
            padding-bottom: 0;
            padding-top: 0;
            margin: 0;
            font-family: "Open Sans", sans-serif; }
            .sidebar .left-menus .dropdown ul li a:hover {
              background: none; }
  .sidebar ul {
    padding: 0; }
    .sidebar ul li {
      padding-left: 20px;
      padding-top: 10px;
      padding-bottom: 20px;
      list-style: none;
      border-bottom: 1px solid #F0F0F1; }
      .sidebar ul li a {
        margin: 0;
        padding-right: 70px;
        padding-top: 10px;
        padding-bottom: 21px;
        text-decoration: none;
        text-align: left;
        text-transform: none;
        font-size: 1em;
        background: #fff;
        color: #193854; }
  .sidebar .account {
    padding-top: 5px; }
    .sidebar .account img {
      max-width: 160px; }
  .sidebar .bottom-side-middle {
    background: #DFEBF6;
    border-bottom: 1px solid #5D6E7D; }
    .sidebar .bottom-side-middle .arrow-top {
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #fff;
      float: right;
      position: relative;
      left: -15px; }
    .sidebar .bottom-side-middle h3 {
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      font-weight: bolder;
      margin: 0; }
    .sidebar .bottom-side-middle h4 {
      padding-top: 10px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      font-weight: bolder;
      margin: 0; }
  .sidebar .bottom-side {
    background: #DFEBF6; }
    .sidebar .bottom-side h3 {
      text-transform: uppercase;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      font-weight: 600;
      margin: 0; }
    .sidebar .bottom-side h4 {
      padding-top: 10px;
      padding-left: 10px;
      font-family: "Open Sans", sans-serif;
      font-size: 0.9em;
      font-weight: bolder;
      margin: 0; }
  .sidebar .header-sidebar {
    width: 100%;
    border-bottom: 10px solid #303F53; }
    .sidebar .header-sidebar h2 {
      padding-left: 10px;
      font-size: 1em;
      font-weight: bolder;
      text-transform: uppercase; }
      .sidebar .header-sidebar h2 a span {
        padding-right: 5px;
        float: right;
        color: #193854; }
  .sidebar .top-point {
    background: #F0F0F1;
    padding-top: 10px;
    padding-bottom: 10px; }
    .sidebar .top-point h3 {
      padding-left: 10px;
      font-weight: 600;
      font-size: 14px; }
      .sidebar .top-point h3 small {
        margin-left: 65px;
        font-size: 1em;
        color: #193854;
        font-weight: bold; }
  .sidebar .child-point {
    background: #fff;
    border-bottom: 1px solid #F0F0F1; }
    .sidebar .child-point h3 {
      padding-left: 10px;
      font-weight: bold;
      font-size: 1em; }
      .sidebar .child-point h3 small {
        font-size: 1em;
        padding-left: 110px;
        color: #00AB4B; }
  .sidebar .child-point-test {
    background: #fff;
    border-bottom: 1px solid #F0F0F1; }
    .sidebar .child-point-test h3 {
      padding-left: 10px;
      font-weight: bold;
      font-size: 1em; }
      .sidebar .child-point-test h3 small {
        font-size: 1em;
        padding-left: 20px;
        color: #00AB4B; }
  .sidebar .child-point-false {
    background: #fff;
    border-bottom: 1px solid #F0F0F1; }
    .sidebar .child-point-false h3 {
      padding-left: 10px;
      font-size: 1em;
      font-weight: bold; }
      .sidebar .child-point-false h3 small {
        padding-left: 20px;
        font-size: 1em;
        color: red; }

/* content-full*/
.content-full {
  position: relative;
  border: 1px solid #BCBDC1;
  width: 100%;
  margin-top: 5px;
  background: #fff;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  .content-full .header-content-full {
    width: 100%;
    border-bottom: 10px solid #303F53; }
    .content-full .header-content-full h2 {
      padding-left: 10px;
      font-size: 1em;
      text-transform: uppercase;
      font-weight: bolder;
      padding-bottom: 10px; }
  .content-full .content-small {
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
    padding-left: 25px; }
    .content-full .content-small img {
      max-width: 100%;
      margin-top: 10px; }
    .content-full .content-small .modul-img {
      max-width: 90%;
      margin-top: 40px;
      margin-bottom: 20px; }
    .content-full .content-small .table {
      width: 100%;
      margin-left: 20px;
      font-size: 1em; }
    .content-full .content-small td {
      padding-left: 25px;
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 1em; }
    .content-full .content-small .left {
      background: #193854;
      color: #fff;
      font-weight: bold;
      padding-right: 30px;
      font-size: 14px; }
    .content-full .content-small .right {
      color: #193854;
      font-weight: bold;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
      font-size: 14px; }
    .content-full .content-small .desc {
      margin-top: 40px;
      padding: 0;
      margin-right: 100px;
      position: relative;
      right: 10%; }
      .content-full .content-small .desc .button-take {
        text-transform: uppercase;
        color: #fff;
        background: url("images/btn.png");
        float: left;
        padding: 10px 10px 10px;
        font-size: 1em;
        margin-top: 20px;
        margin-bottom: 50px;
        box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18); }
        .content-full .content-small .desc .button-take:hover {
          text-decoration: none; }
      .content-full .content-small .desc h1 {
        font-size: 1.2em;
        font-weight: 600; }
      .content-full .content-small .desc .detail-post {
        margin: 0;
        font-family: "Open Sans", sans-serif;
        float: left;
        font-size: 0.9em;
        color: #193854; }
        .content-full .content-small .desc .detail-post span {
          font-size: 1em;
          color: #193854; }
      .content-full .content-small .desc .detail-text {
        float: left;
        font-family: "Open Sans", sans-serif;
        color: #193854; }
        .content-full .content-small .desc .detail-text p {
          font-size: 0.8em;
          font-weight: 600;
          text-align: left;
          margin-left: 0;
          margin-top: 10px;
          margin-right: 40px;
          line-height: 20px; }
      .content-full .content-small .desc .status-detail {
        text-transform: uppercase;
        font-size: 1em;
        color: #00AB4B;
        font-weight: 700;
        padding-top: 155px;
        padding-bottom: 40px; }
        .content-full .content-small .desc .status-detail span {
          font-size: 1em;
          color: #00AB4B;
          font-weight: 700; }
    @media (max-width: 990px) {
      .content-full .content-small .desc {
        padding: 0;
        position: none;
        margin: 0;
        right: 0; }
        .content-full .content-small .desc p {
          font-size: 0.8em;
          text-align: left;
          margin-right: 60px;
          line-height: 20px; }
        .content-full .content-small .desc h1 {
          font-size: 1.5em; } }
    .content-full .content-small h3 {
      padding-top: 12px;
      padding-left: 30px;
      font-size: 1.3em;
      font-weight: bold;
      padding-bottom: 10px; }
    .content-full .content-small h2 {
      margin-left: 50px;
      margin-right: 70px;
      margin-top: 40px;
      font-weight: bold;
      font-size: 1.5em; }
    .content-full .content-small p {
      font-size: 1em;
      font-weight: 600;
      margin-left: 50px;
      margin-right: 70px; }
    .content-full .content-small .default {
      margin-top: 30px;
      font-size: 1em;
      font-weight: 600;
      margin-left: 50px;
      margin-right: 70px; }
    .content-full .content-small .danger {
      color: red;
      font-weight: bold; }
    .content-full .content-small .success {
      font-weight: bold;
      color: #00AB4B; }
  .content-full .content-about {
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
    padding-left: 25px;
    padding-bottom: 100px; }
    .content-full .content-about p {
      font-size: 1em;
      font-weight: 400;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 30px;
      margin-right: 70px;
      font-family: "Open Sans", sans-serif; }
      .content-full .content-about p small {
        color: #00AB4B;
        font-size: 1em;
        font-weight: 400;
        font-family: "Open Sans", sans-serif; }
    .content-full .content-about img {
      max-width: 90%;
      margin-top: 50px;
      padding-left: 50px; }
    .content-full .content-about .button-about {
      text-transform: uppercase;
      color: #fff;
      background: url("images/btn.png");
      float: left;
      padding: 10px 10px 10px;
      font-size: 1em;
      margin-left: 50px;
      margin-top: 20px;
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18); }
      .content-full .content-about .button-about:hover {
        text-decoration: none; }
  .content-full .content-account {
    width: 100%;
    padding-left: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #F7F6F2;
    height: auto; }
    .content-full .content-account .change-account {
      margin-top: 40px;
      max-width: 100%;
      margin-right: 20px;
      padding-bottom: 30px; }
      .content-full .content-account .change-account .left-text {
        text-align: left;
        font-weight: 400;
        font-size: 14px;
        font-family: "Open Sans", sans-serif; }
      @media (max-width: 1024px) {
        .content-full .content-account .change-account .left-text {
          margin-right: 50px;
          text-align: left;
          font-weight: 400;
          font-size: 14px;
          font-family: "Open Sans", sans-serif; } }
      .content-full .content-account .change-account .check {
        position: relative;
        left: -170px;
        bottom: -60px; }
      .content-full .content-account .change-account .label-check {
        position: relative;
        left: -150px;
        bottom: -40px;
        margin-right: 10px;
        font-weight: 100;
        font-family: "Open Sans", sans-serif; }
      @media (max-width: 990px) {
        .content-full .content-account .change-account .label-check {
          position: relative;
          bottom: -40px;
          margin-right: 20px;
          font-weight: 100;
          font-family: "Open Sans", sans-serif; }
        .content-full .content-account .change-account .check {
          bottom: -10px;
          left: 0; }
        .content-full .content-account .change-account .label-check {
          bottom: 8px;
          left: 0;
          margin-top: 20px;
          margin-right: 60px;
          font-weight: 100;
          font-family: "Open Sans", sans-serif; } }
      .content-full .content-account .change-account td {
        padding-bottom: 20px;
        font-size: 14px;
        padding-right: 20px;
        font-size: 14px; }
      .content-full .content-account .change-account .text-form {
        width: 300px; }
      .content-full .content-account .change-account .combo {
        width: 90px;
        float: left;
        margin-right: 10px; }
    .content-full .content-account .submit {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 57px;
      padding-right: 57px;
      position: relative;
      border: none;
      background: url("images/btn.png");
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-13deg);
      -moz-transform: skew(-13deg);
      -o-transform: skew(-13deg); }
      .content-full .content-account .submit:hover {
        text-decoration: none; }
    .content-full .content-account .daftar {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 57px;
      padding-right: 57px;
      border: none;
      float: right;
      position: relative;
      background: url("images/btn.png");
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-13deg);
      -moz-transform: skew(-13deg);
      -o-transform: skew(-13deg); }
      .content-full .content-account .daftar:hover {
        text-decoration: none; }
    .content-full .content-account .reset {
      text-decoration: none;
      text-transform: uppercase;
      color: #000;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 37px;
      padding-right: 37px;
      position: relative;
      margin-right: 30px;
      border-radius: 0;
      float: left;
      background: #ffffff;
      background-image: -webkit-linear-gradient(top, #ffffff, #e1e2e6);
      background-image: -moz-linear-gradient(top, #ffffff, #e1e2e6);
      background-image: -ms-linear-gradient(top, #ffffff, #e1e2e6);
      background-image: -o-linear-gradient(top, #ffffff, #e1e2e6);
      background-image: linear-gradient(to bottom, #ffffff, #e1e2e6);
      -webkit-box-shadow: 1px 1px 3px #666666;
      -moz-box-shadow: 1px 1px 3px #666666;
      box-shadow: 1px 1px 3px #666666; }
      .content-full .content-account .reset:hover {
        text-decoration: none; }
    .content-full .content-account .container-button {
      max-width: 500px;
      margin-left: 30px;
      padding-top: 30px; }
    @media (max-width: 1024px) {
      .content-full .content-account .container-button {
        max-width: 500px;
        margin-left: 0;
        padding-top: 30px; }
      .content-full .content-account .submit {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 57px;
        padding-right: 57px;
        margin-top: 10px;
        position: relative;
        border: none;
        background: url("images/btn.png");
        box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
        -webkit-transform: skew(-13deg);
        -moz-transform: skew(-13deg);
        -o-transform: skew(-13deg); }
        .content-full .content-account .submit:hover {
          text-decoration: none; } }
    .content-full .content-account .container-button-reg {
      padding: 0;
      float: left; }
      .content-full .content-account .container-button-reg .tag-check {
        float: left;
        position: relative; }
      .content-full .content-account .container-button-reg .tag-button {
        float: right; }
  .content-full .content-square {
    position: relative;
    min-height: 230px;
    margin-right: 100px;
    margin-left: 50px;
    margin-bottom: 30px; }
    .content-full .content-square img {
      max-width: 100%; }
    .content-full .content-square table {
      border: 1px solid #F0F0F1;
      font-size: 1em; }
    .content-full .content-square td {
      padding-right: 30px; }
  .content-full .content-end {
    width: 100%;
    padding-top: 5px;
    background: #F0F0F1;
    padding-bottom: 35px; }
    .content-full .content-end h1 {
      padding-top: 30px;
      font-size: 1.5em;
      font-weight: bold;
      padding-left: 30px; }
    .content-full .content-end p {
      padding-bottom: 30px;
      padding-left: 30px;
      margin-right: 200px;
      line-height: 20px; }
    .content-full .content-end .button-failed {
      padding: 8px 40px 8px;
      text-transform: uppercase;
      color: #fff;
      background: url("images/btn.png");
      float: left;
      margin-left: 30px;
      font-weight: bold;
      position: relative;
      top: -30px;
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18); }
      .content-full .content-end .button-failed:hover {
        text-decoration: none; }
      .content-full .content-end .button-failed i {
        margin-right: 10px; }
  .content-full .content-end-blue {
    width: 100%;
    padding-top: 20px;
    background: #DFEBF6;
    padding-bottom: 100px; }
    .content-full .content-end-blue h1 {
      padding-top: 30px;
      font-size: 1.5em;
      font-weight: bold;
      padding-left: 30px; }
    .content-full .content-end-blue p {
      margin-right: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      font-weight: 600; }
    .content-full .content-end-blue .button-footer {
      padding: 15px 80px 15px;
      text-transform: uppercase;
      color: #fff;
      background: url("images/btn.png");
      float: left;
      margin-left: 30px;
      font-weight: bold;
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg); }
      .content-full .content-end-blue .button-footer:hover {
        text-decoration: none; }
  .content-full .instruction-top {
    width: 100%;
    border-bottom: 1px solid #F0F0F1;
    font-family: "Open Sans", sans-serif; }
    .content-full .instruction-top table {
      width: 80%;
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 50px;
      line-height: 25px;
      font-size: 1em; }
    .content-full .instruction-top .option {
      padding-top: 10px;
      padding-bottom: 10px; }
  .content-full .content-option {
    width: 100%;
    border-bottom: 1px solid #F0F0F1; }
    .content-full .content-option table {
      font-family: "Open Sans", sans-serif;
      max-width: 80%;
      position: relative;
      margin-left: 70px;
      margin-top: 30px;
      margin-bottom: 50px;
      line-height: 25px;
      font-size: 1em; }
      .content-full .content-option table td {
        padding-left: 30px; }
    @media (max-width: 767px) {
      .content-full .content-option table {
        font-family: "Open Sans", sans-serif;
        max-width: 80%;
        position: relative;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 50px;
        line-height: 25px;
        font-size: 1em; }
        .content-full .content-option table td {
          padding-left: 30px; } }
  .content-full .footer-content {
    width: 100%;
    background: #F0F0F1;
    padding-bottom: 150px; }
    .content-full .footer-content .button-end {
      padding: 8px 50px 8px;
      float: right;
      position: relative;
      right: 2%;
      bottom: -48px;
      text-transform: uppercase;
      color: #fff;
      background: url("images/btn.png");
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-12deg);
      -moz-transform: skew(-12deg);
      -o-transform: skew(-12deg); }
      .content-full .footer-content .button-end:hover {
        text-decoration: none; }
    .content-full .footer-content .pagination-content {
      max-width: 100%;
      position: relative; }
      .content-full .footer-content .pagination-content .page {
        display: inline-block;
        padding: 5px 10px;
        margin-right: 4px;
        margin-top: 50px;
        border-radius: 3px;
        border: solid 1px #c0c0c0;
        background: #e9e9e9;
        box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.8), 0px 1px 3px rgba(0, 0, 0, 0.1);
        font-size: .875em;
        font-weight: bold;
        text-decoration: none;
        color: #717171;
        text-shadow: 0px 1px 0px white; }
        .content-full .footer-content .pagination-content .page:hover {
          background: #fefefe;
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
          background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0); }
        .content-full .footer-content .pagination-content .page .gradient:hover {
          background: #fefefe;
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
          background: -moz-linear-gradient(0% 0% 270deg, #FEFEFE, #f0f0f0); }
        .content-full .footer-content .pagination-content .page span:active {
          border: none;
          background: #00AB4B;
          box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.8);
          color: #f0f0f0;
          text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5); }
        .content-full .footer-content .pagination-content .page .gradient {
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
          background: -moz-linear-gradient(0% 0% 270deg, #f8f8f8, #e9e9e9); }
    .content-full .footer-content .btn {
      display: inline-block;
      padding: 10px;
      border-radius: 5px;
      /*optional*/
      color: #aaa;
      font-size: .875em; }

/* wrapper */
#wrapper {
  position: relative;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 10px; }
  #wrapper .bx-viewport {
    height: auto !important; }
  #wrapper .description {
    background: #fff;
    margin-top: 30px;
    border: 8px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 30px; }
    #wrapper .description .left-wrapper {
      float: left;
      margin-left: 70px;
      margin-top: 30px;
      max-width: 400px; }
      #wrapper .description .left-wrapper img {
        width: 370px;
        padding-top: 10px;
        padding-bottom: 10px; }
      #wrapper .description .left-wrapper p {
        padding-top: 24px;
        line-height: 15px;
        font-size: 0.9em; }
      #wrapper .description .left-wrapper a {
        font-size: 1.5em;
        text-decoration: underline;
        font-weight: bold;
        color: #3D3D3D;
        margin-bottom: 30px; }
  #wrapper .right-wrapper {
    float: right; }
    #wrapper .right-wrapper img {
      max-width: 450px;
      height: 330px; }
  @media (max-width: 990px) {
    #wrapper .right-wrapper {
      float: none; }
      #wrapper .right-wrapper img {
        max-width: 100%;
        padding: 0; } }
  #wrapper .effect-wrapper {
    position: relative; }
    #wrapper .effect-wrapper:before, #wrapper .effect-wrapper:after {
      z-index: -1;
      position: absolute;
      content: "";
      bottom: 25px;
      left: 10px;
      width: 50%;
      top: 80%;
      max-width: 300px;
      background: #777;
      -webkit-box-shadow: 0 30px 30px #777;
      -moz-box-shadow: 0 30px 30px #777;
      box-shadow: 0 30px 30px #777;
      -webkit-transform: rotate(-5deg);
      -moz-transform: rotate(-5deg);
      -o-transform: rotate(-5deg);
      -ms-transform: rotate(-5deg);
      transform: rotate(-5deg); }
    #wrapper .effect-wrapper:after {
      -webkit-transform: rotate(5deg);
      -moz-transform: rotate(5deg);
      -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
      transform: rotate(5deg);
      right: 40px;
      left: auto; }

/*content*/
#content {
  z-index: 5;
  background: #E9EEF2;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 48px; }
  #content h1 {
    position: relative;
    left: -13px;
    padding-top: 30px;
    font-size: 2.1em;
    color: #193854; }
  #content a {
    margin-top: 30px;
    display: inline-block; }
    #content a:hover {
      text-decoration: underline; }
  #content .button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 70px;
    padding-right: 70px;
    right: -18px;
    position: relative;
    display: block;
    bottom: -35px;
    background: url("images/btn.png");
    float: right;
    margin-top: 10px;
    box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
    -webkit-transform: skew(-14deg);
    -moz-transform: skew(-14deg);
    -o-transform: skew(-14deg); }
    #content .button:hover {
      text-decoration: none; }
  @media (max-width: 1024px) {
    #content .button {
      margin-right: 20px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 70px;
      padding-right: 70px;
      right: -18px;
      position: relative;
      display: block;
      background: url("images/btn.png");
      float: right;
      top: -10px;
      box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
      -webkit-transform: skew(-14deg);
      -moz-transform: skew(-14deg);
      -o-transform: skew(-14deg); }
      #content .button:hover {
        text-decoration: none; } }
  #content .post {
    min-height: 370px;
    margin-top: 45px;
    background: #00AB4B;
    margin-right: 25px;
    max-width: 305px;
    right: -10px;
    float: left; }
    #content .post .title {
      max-width: 200px;
      height: auto;
      border-bottom: 1px solid #fff;
      margin-left: 25px;
      margin-right: 175px;
      position: relative;
      top: -2px; }
      #content .post .title h3 {
        display: block;
        color: #fff;
        font-size: 20px;
        text-transform: none;
        font-size: 1em; }
    #content .post img {
      width: 100%;
      height: 210px; }
    #content .post h1 {
      color: #fff;
      text-transform: none;
      padding-left: 20px;
      font-size: 1.7em;
      font-weight: bold;
      margin-right: 50px;
      margin-left: 20px;
      position: relative;
      top: -45px; }
    #content .post .button-more {
      background: #fff;
      color: #00AB4B;
      float: left;
      margin-left: 15px;
      position: relative;
      top: -70px;
      right: -10px;
      padding-left: 15px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 1em;
      letter-spacing: -1px; }
      #content .post .button-more:hover {
        text-decoration: none;
        color: #FFD900;
        transition: all 0.3s ease; }
    #content .post i {
      font-size: 24px;
      margin-left: 20px;
      padding-right: 10px; }
  @media (max-width: 1024px) {
    #content .post {
      min-height: 370px;
      margin-top: 45px;
      background: #00AB4B;
      max-width: 360px;
      float: none; }
    #content img {
      max-width: 100%; } }
  @media (max-width: 767px) {
    #content .post {
      min-height: 370px;
      margin-top: 45px;
      background: #00AB4B;
      max-width: 100%;
      float: none; }
    #content img {
      max-width: 100%; } }

/*registration*/
#registration {
  width: 100%;
  background: url("images/bg-blue.png");
  padding: 24px 30px 8px;
  overflow: none;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777; }
  #registration h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    position: relative;
    top: -10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    right: -45px;
    letter-spacing: 1px; }
  #registration .button {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 87px;
    padding-right: 87px;
    position: relative;
    display: block;
    top: -5px;
    left: -40px;
    background: url("images/btn.png");
    display: block;
    float: right;
    margin-top: 10px;
    box-shadow: inset 2px 15px 23px 0px rgba(255, 255, 255, 0.18);
    -webkit-transform: skew(-13deg);
    -moz-transform: skew(-13deg);
    -o-transform: skew(-13deg); }
    #registration .button:hover {
      text-decoration: none; }

/* information */
#informations {
  margin: 0 auto;
  width: 100%;
  background: #F0F0F1;
  padding-bottom: 20px; }
  #informations a {
    padding: 0;
    margin: 0; }
    #informations a:hover {
      text-decoration: none; }
    #informations a .square {
      max-height: 85px;
      position: relative;
      bottom: -10px;
      left: -10px;
      margin-bottom: 44px;
      margin-top: 50px;
      background: #fff;
      width: 100%;
      border-bottom: 5px solid #193854;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px transparent;
      -webkit-box-shadow: 0 10px 6px -8px #777;
      -moz-box-shadow: 0 10px 6px -8px #777;
      box-shadow: 0 10px 6px -8px #777; }
      #informations a .square:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; }
      #informations a .square:hover:before {
        top: -2px;
        right: -2px;
        bottom: -5px;
        left: -2px;
        border-bottom: none;
        border: #193854 solid 2px;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: top, right, bottom, left;
        transition-property: top, right, bottom, left; }
      #informations a .square .circle {
        background: #fff;
        left: 43%;
        top: -25px;
        position: relative;
        border: 4px solid #193854;
        border-radius: 100%;
        height: 45px;
        width: 45px;
        text-align: center;
        visibility: visible; }
        #informations a .square .circle i {
          font-size: 24px;
          padding-top: 7px;
          color: #193854; }
      @media (max-width: 1024px) {
        #informations a .square .circle {
          background: #fff;
          left: 48%;
          top: -25px;
          position: relative;
          border: 4px solid #193854;
          border-radius: 100%;
          height: 45px;
          width: 45px;
          text-align: center; }
          #informations a .square .circle i {
            font-size: 24px;
            padding-top: 7px;
            color: #193854; } }
      @media (max-width: 767px) {
        #informations a .square .circle {
          background: #fff;
          top: -25px;
          display: table;
          border: 4px solid #193854;
          border-radius: 100%;
          height: 45px;
          width: 45px;
          left: 46%;
          text-align: center;
          visibility: visible; }
          #informations a .square .circle i {
            font-size: 24px;
            padding-top: 7px;
            color: #193854; } }
      #informations a .square h1 {
        text-transform: uppercase;
        color: #193854;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
        position: relative;
        top: -30px;
        right: -2px; }

/* support */
#support {
  background: #fff;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 27px; }
  #support img {
    float: left; }
  #support .logo-left {
    max-width: 130px;
    position: relative;
    margin-top: -5px;
    position: relative;
    left: -1%; }
  #support .logo-right {
    position: relative;
    top: -9px;
    max-width: 80px;
    margin-left: 5px; }
  #support h1 {
    font-size: 18px;
    color: #193854;
    text-transform: uppercase;
    font-weight: 550;
    position: relative;
    top: -7px;
    right: -65px; }

/*footer*/
#footer {
  background: #193854;
  width: 100%; }
  #footer .footer-left {
    color: #fff;
    float: left;
    width: 50%;
    padding-top: 22px; }
    #footer .footer-left p {
      color: #fff;
      position: relative;
      left: -10px;
      bottom: -10px; }
  #footer .footer-right {
    float: right; }
    #footer .footer-right p {
      color: #fff;
      padding-top: 30px; }
    #footer .footer-right h4 {
      position: relative;
      top: -10px;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      padding-top: 30px;
      color: #fff;
      font-size: 1em; }
    #footer .footer-right .icon-social-media {
      border-radius: 100%;
      background: #fff;
      width: 35px;
      height: 35px;
      float: right;
      margin-top: 20px;
      margin-left: 17px;
      position: relative;
      top: -25px; }
      #footer .footer-right .icon-social-media:hover {
        background: #D1D1D1;
        transition: all 0.3s ease; }
      #footer .footer-right .icon-social-media i {
        color: #193854;
        padding-left: 11px;
        padding-top: 9px;
        font-size: 18px; }

/*# sourceMappingURL=styles.css.map */
